

body {
    margin: 0;
    margin-bottom: 50px;
    font-family: 'Nunito', sans-serif;
}

#hero {
    background-image: url(datenight.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    z-index: -10;
}

#hero-overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index:-5;
}




h1 {
    font-family: 'League Script', cursive;
    font-size: 80px;
    font-weight: 700;
}

.nav-item {
    cursor: pointer;
}




.fa-film, 
.fa-utensils {
    font-size: 90px;

}  




.footer {
    position: relative;
    bottom: 0;
    height: 60px; 
    line-height: 50px; 
   
}

.content {
    margin-bottom: 50px;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
  
}






.welcome_form button{
    display: block;
    width: 100%;
}


.welcome_form button{
    font-size: 22px;
    padding: 20px 0;
    border: none;
    background-color: #ffffff;
    border-radius: 100px;
    transition: 0.5 all;
    color: brown;
}

.welcome_form button:hover{
    transform: translateY(-5px);
    cursor: pointer;
}


.welcome_form button:focus{
    outline: none;

}

.footer {
    background-color: black;
      height: 100px;
      text-align: center;
      line-height: 70px;
      color: gray;
      border-top: 0px;
  }

  .container1{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    
}

.container1 > div{
max-width: 500px;
margin: auto;
}

p{
    text-align: center;
    color: blue;
}

.Rest-Info{
    background-color: lightgrey ;
}

.uk-card-body{
    font-weight: bolder;
    color: black;
}

.ianDiv, h2 {
    color: white;
}

h1{
 color: blue;
}

.movieInfo {
    width: 60%;
}