.container-0 {
    margin: 0;
    margin-bottom: 50px;
    font-family: 'Nunito', sans-serif;
    background: #2C3E50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FD746C, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FD746C, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#hero {
    background-image: url(datenight.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    z-index: -10;
}

#hero-overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index:-5;
}

h1 {
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 50px;
    font-weight: 300;
    text-align: center;
}

.nav-item {
    cursor: pointer;
}

.restaurant {
    margin: auto;
}

.fa-film, 
.fa-utensils {
    font-size: 90px;
}  

.content {
    margin-bottom: 50px;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.footer {
    background-color: black;
      height: 100px;
      text-align: center;
      line-height: 70px;
      color: gray;
      border-top: 0px;
      display: block;
      margin-bottom: 0px;
  }

  .container1{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 85%;
    
}

.search-content{
    width: 50%;
    margin: auto;
}

.container1 > div{
max-width: 500px;
margin: auto;
}

p{
    text-align: center;
    color: blue;
}

.Rest-Info{
    background-color: lightgrey ;
    justify-content: space-around;
}

.uk-card-body{
    font-weight: bolder;
    color: black;
}

h1{
 color: blue;
}
